body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  font-weight: 300;
  overflow: visible;
}
#pie-chart {
  background-color: #ffffff;
  /*border: 1px solid gray;*/
  font: 10px sans-serif;
  text-shadow: none;
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#pie-chart svg {
  shape-rendering: geometricPrecision;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#pie-chart .total {
  font-size: 18px;
  font-weight: bold;
}
#pie-chart .units {
  fill: white;
  font-size: 16px;
  font-weight: bold;
}
#pie-chart .label {
  fill: #fff;
  font-size: 12px;
  font-weight: bold;
}
#pie-chart .value {
  font-size: 18px;
  font-weight: bold;
}
#slidercontainer {
  width: 100%;
  text-align: center;
}
#slider {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
#slider label {
  position: absolute;
  width: 20px;
  margin-left: -20px;
  text-align: center;
  margin-top: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pieChart {
  position: absolute;
  top: 40px;
  left: 40px;
}